*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(218, 218, 218);
    font-family: "open sans";
}
/**********GRID INDEX********/
.contenedorGridIndex{
    width: 100%;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "header header header"
    "main main aside1"
    "main main aside2"
    "footer footer footer";
}

/*******ESTILOS HEADER********/
.header{
    width: 100%;
    height: 600px;
    margin-bottom: 60px;
    background-image: url(../imagenes/herobanner.jpg);
    background-position: center;
    background-attachment: fixed;
    grid-area: header;
}
/**** ESTILOS NAV BAR  *****/
.navbar{
    width: 100%;
    background-color: rgba(116, 116, 116, 0.445);
    position: fixed;
    box-shadow: 0 0 5px whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-nav{
    padding: 10px;
    font-size: 18px;
    color: antiquewhite;
}
.nav-link{
    color: whitesmoke;
    text-transform: uppercase;
}
.nav-link:hover{
    font-weight: bold;
    background-color: rgb(255, 115, 0);
    color: whitesmoke;
    box-shadow: 0 0 5px rgb(255, 115, 0);
}
/****** HERO BANNER ******/
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 480px;
    height: 480px;
    margin-top: 58px;
}

.textologo{
    margin-top: -40px;
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    color: rgb(207, 207, 207);
    font-size: 2rem;
}
.separador{
    font-size: 2.5rem;
    font-family: 'Lobster', cursive;
    text-align: center;
    background-color: rgb(255, 115, 0);
}
/*******ESTILOS MAIN INDEX*******/
main{
    padding: 10px;
    margin: 0 auto;
    grid-area: main;
}
.novedades{
    padding: 15px 60px;
}
.noticias{
    margin-bottom: 10px;
    padding: 10px;
    background-color: whitesmoke;
    border: 2px rgb(255, 115, 0) solid;
    border-radius: 10px;
    display: flex;
    flex-direction: wrap;
}
.imgNoticias{
    width: 450px;
    height: 300px;
    border-radius: 10px;
}
.textos{
    margin: 15px;
    padding: 10px;
}
.textos h2{
    text-align: center;
    font-weight: bold;
}
.noticias:hover{
    background-color: rgb(253, 147, 60);
    border: 2px rgb(255, 115, 0) solid;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}
/******ESTILOS ASIDE RANKING********/
.aside1{
    width: auto;
    padding: 10px;
    margin: 0 auto;
    grid-area: aside1;
}
.ranking{
    width: 100%;
    padding: 10px;
    background-color: whitesmoke;
    border: 2px rgb(255, 115, 0) solid;
    border-radius: 10px;
}
.aside1 h2{
    margin-bottom: 5px;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(255, 115, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.noticiaRanking{
    display: flex;
    text-align: left;
    align-items: center;
    overflow: auto;
}
.tituloRanking{
    padding-left: 7px;
    font-size: 1rem;
}
.numeroRanking{
    width: 45px;
    height: 45px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.noticiaRanking:hover{
    background-color: rgb(253, 147, 60);
    border: 2px rgb(255, 115, 0) solid;
    border-radius: 10px;
    color: rgb(0, 0, 0);    
}
/******ESTILOS ASIDE LANZAMIENTOS*******/
.aside2{
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    grid-area: aside2;
}
.lanzamientos{
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
    border: 2px rgb(255, 115, 0) solid;
    border-radius: 10px;
}
.lanzamientos h2{
    margin-bottom: 5px;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    background-color: rgb(255, 115, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.reproductor{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
/***********ESTILOS FOOTER*********/
footer{
    background-color: rgb(255, 115, 0);
    padding-top: 30px;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    grid-area: footer;
}
.logoFooter{
    width: 150px;
    height: 150px;
}
.contenedorRedes{
    width: 20%;
}
.contenedorIconos{
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
}
.bi-facebook:hover{
    color: rgb(66, 103, 178);
}
.bi-instagram:hover{
    color: rgb(131 58 180)
}
.bi-whatsapp:hover{
    color: rgb(37 211 102);
}
.bi-youtube:hover{
    color: rgb(255 0 0);
}
.bi-envelope:hover{
    color: rgb(219 68 55);
}
.newsletter{
    padding-top: 15px;
}


/*******ESTILOS SECCION NOTICIAS*******/

/******GRID SECCION NOTICIAS**********/
.contenedorGridNoticias{
    width: 100%;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "header header header"
    "mainNoticias mainNoticias aside1"
    "mainNoticias mainNoticias aside2"
    "footer footer footer";
}
.mainNoticias{
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
    border: 2px rgb(255, 115, 0) solid;
    border-radius: 10px;
    display: flex;
    grid-area: mainNoticias;
}
.notaTitulo{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.notaSubtitulo{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 10px;
}
.notaImagen{
    display: flex;
    justify-content: center;
    align-items: center;
} /*Esto va a ser un carousel con imagenes*/
.notaEpigrafe{
    font-size: 15px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.videoNota{
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/***** ESTILOS SECCION SHOWS Y EVENTOS******/
.tituloShow{
    text-align: center;
}
/*****ESTILOS SECCION DISCOS******/
.artista{
    width: 100%;
    background-color: rgb(255, 115, 0);
    margin-bottom: 15px;
    text-align: center;
}

.btn-comprar{
    color: #fff;
    background-color: rgb(255, 115, 0);
    border-color: rgb(255, 115, 0);
}
.btn-comprar:hover{
    background-color: whitesmoke;
    border-color: rgb(255, 115, 0);
}

/******ESTILOS SECCION CONTACTO*******/
.formulario{
    width: 400px;
    margin: auto;
    margin-top: 15px;
    padding: 20px;
    background-color: white;
    border: 2px rgb(255, 115, 0) solid;
    border-radius: 10px;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 17px;
}
.genero{
    display: flex;
    justify-content: start;
}
.boton{
    background: rgb(221, 221, 221);
}
.boton:hover{
    cursor: pointer;
    background: rgb(255, 115, 0);
    color: whitesmoke;
}
input:hover{
    border: 2px rgb(255, 115, 0) solid;
}
textarea:hover{
    border: 2px rgb(255, 115, 0) solid;
}

@media only screen and (max-width: 500px){
/******MEDIA QUERIES INDEX HEADER*******/
.contenedorGridIndex{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "aside1" 
    "aside2"
    "footer";
}
.header{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    background-position:bottom ;
}
nav ul{
    margin-right: 0.5rem;
}
nav ul li a{
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
}
.logo img{
    width: 35%;
    height: 35%;
    margin-top: 75px;
}
.textologo{
    font-size: 0.8rem;
}
.textologo h1{
    margin-top: 30px;
}
.separador{
    font-size: 1.5rem;
}
/******MEDIA QUERIES INDEX MAIN*******/
.novedades{
    padding: 15px 60px;
}
.noticias{
    flex-direction: column;
}
/******MEDIA QUERIES INDEX MAIN*******/
footer{
    flex-direction: column;
}
.logoFooter{
    margin: 0 auto;
}
.contenedorRedes{
    width: auto;
}
.newsletter{
    padding: 15px;
}
/******MEDIA QUERIES NOTICIAS MAIN*******/


}