@charset "UTF-8";
/*Variables redes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #dadada;
  font-family: "open sans"; }

header {
  width: 100%;
  height: 560px;
  margin-bottom: 60px;
  background-image: url(../imagenes/herobanner.jpg);
  background-position: center;
  background-attachment: fixed; }
  header .navbar {
    width: 100%;
    background-color: #4b4b4b88;
    position: fixed;
    box-shadow: 0 0 5px #ff7300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; }
    header .navbar .navbar-nav {
      padding: 10px;
      font-size: 18px;
      color: antiquewhite; }
      header .navbar .navbar-nav .nav-link {
        color: whitesmoke;
        text-transform: uppercase; }
        header .navbar .navbar-nav .nav-link:hover {
          font-weight: bold;
          background-color: #ff7300;
          color: whitesmoke;
          box-shadow: 0 0 5px #ff7300; }
  header .logo {
    display: flex;
    justify-content: center; }
    header .logo .img-fluid {
      width: 480px;
      height: 480px;
      margin-top: 58px; }
  header .textologo {
    margin-top: -40px;
    display: flex;
    justify-content: center;
    font-family: "Lobster", cursive;
    color: #cfcfcf;
    font-size: 2rem; }
  header .separador {
    font-size: 2.5rem;
    font-family: "Lobster", cursive;
    text-align: center;
    background-color: #ff7300; }

main {
  padding: 10px;
  margin: 0 auto;
  grid-area: main; }
  main .noticias {
    margin-bottom: 10px;
    padding: 10px;
    background-color: whitesmoke;
    border: 2px #ff7300 solid;
    border-radius: 10px;
    display: flex;
    flex-direction: wrap; }
    main .noticias:hover {
      font-weight: bold;
      background-color: #fd933c;
      border: 4px #ff7300 solid;
      border-radius: 10px;
      color: black; }
    main .noticias .imgNoticias {
      width: 450px;
      height: 300px;
      border-radius: 10px; }
    main .noticias .textos {
      margin: 15px;
      padding: 10px; }
      main .noticias .textos h2 {
        text-align: center;
        font-weight: bold; }
      main .noticias .textos p {
        padding-top: 30px;
        text-align: center; }

.aside, .aside1, .aside2 {
  width: 100%;
  padding: 10px;
  margin: 0 auto; }
  .aside .cuerpoAside, .aside1 .cuerpoAside, .aside2 .cuerpoAside {
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
    border: 2px #ff7300 solid;
    border-radius: 10px; }
  .aside h2, .aside1 h2, .aside2 h2 {
    margin-bottom: 5px;
    font-family: "Lobster", cursive;
    font-size: 1.5rem;
    text-align: center;
    background-color: #ff7300;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

.aside1 {
  grid-area: aside1; }
  .aside1 .noticiaRanking {
    display: flex;
    text-align: left;
    align-items: center;
    overflow: auto; }
    .aside1 .noticiaRanking .numeroRanking {
      width: 45px;
      height: 45px;
      margin-bottom: 5px;
      border-radius: 10px; }
    .aside1 .noticiaRanking .textoRanking {
      padding-left: 7px;
      font-size: 1rem; }
    .aside1 .noticiaRanking:hover {
      background-color: #fd933c;
      border: 2px #ff7300 solid;
      border-radius: 10px; }

.aside2 {
  grid-area: aside2; }
  .aside2 .lanzamientos {
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
    border: 2px #ff7300 solid;
    border-radius: 10px; }
    .aside2 .lanzamientos .reproductor {
      display: flex;
      justify-content: center;
      margin-top: 15px; }

.footer {
  background-color: #ff7300;
  padding: 30px;
  font-family: "Lobster", cursive;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  grid-area: footer; }
  .footer .logoFooter {
    width: 150px;
    height: 150px; }
  .footer .contenedorRedes {
    width: 20%; }
  .footer .contenedorIconos {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    text-decoration: none; }
  .footer .bi-facebook {
    text-decoration: none;
    color: black; }
    .footer .bi-facebook:hover {
      color: #4267b2;
      text-decoration: none; }
  .footer .bi-instagram {
    text-decoration: none;
    color: black; }
    .footer .bi-instagram:hover {
      color: #833ab4;
      text-decoration: none; }
  .footer .bi-whatsapp {
    text-decoration: none;
    color: black; }
    .footer .bi-whatsapp:hover {
      color: #25d366;
      text-decoration: none; }
  .footer .bi-youtube {
    text-decoration: none;
    color: black; }
    .footer .bi-youtube:hover {
      color: #ff0000;
      text-decoration: none; }
  .footer .bi-envelope {
    text-decoration: none;
    color: black; }
    .footer .bi-envelope:hover {
      color: #db4437;
      text-decoration: none; }
  .footer .newsletter {
    margin-right: 10px;
    padding-top: 15px;
    font-size: 1.5rem; }
  .footer .botonSuscribir:hover {
    background-color: #fd933c;
    color: whitesmoke;
    border-radius: 2px; }

/*****Estilos Index******/
.contenedorGridIndex {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "main main aside1" "main main aside2" "footer footer footer"; }

/*****Estilos Sección Noticias******/
.contenedorGridNoticias {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "mainNoticias mainNoticias aside1" "mainNoticias mainNoticias aside2" "footer footer footer"; }

.mainNoticias {
  margin: 10px;
  padding: 10px;
  background-color: whitesmoke;
  border: 2px #ff7300 solid;
  border-radius: 10px;
  display: flex;
  grid-area: mainNoticias; }
  .mainNoticias .cuerpoNoticias {
    padding: 20px; }
  .mainNoticias .notaTitulo {
    text-align: center;
    font-size: 50px;
    font-weight: bold; }
  .mainNoticias .notaSubtitulo {
    padding: 15px;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 10px; }
  .mainNoticias .textoNoticia {
    margin: 15px; }
  .mainNoticias .videoNota {
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center; }

/*****Estilos Sección Shows y Eventos******/
.card {
  margin: 10px; }
  .card .card-title {
    text-align: center;
    font-weight: bold; }
  .card .list-group-item {
    display: flex;
    justify-content: space-between;
    position: inherit; }
  .card .card-body-shows {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    padding: 1rem 1rem; }
  .card:hover {
    color: whitesmoke;
    border: 2px #ff7300 solid;
    background-color: #fd933c;
    box-shadow: 0 5px 5px #ff7300; }

/*****Estilos Sección Discos******/
.artista {
  width: 100%;
  background-color: #ff7300;
  margin-bottom: 15px;
  text-align: center; }

.row {
  --bs-gutter-x: 0; }
  .row .card {
    position: inherit; }
    .row .card .btn-comprar {
      color: #fff;
      background-color: #ff7300;
      border-color: whitesmoke; }
    .row .card .btn-comprar:hover {
      font-weight: bold;
      color: black;
      background-color: whitesmoke; }

/******ESTILOS SECCION CONTACTO*******/
.formulario {
  width: 400px;
  margin: 15px auto;
  padding: 20px;
  background-color: white;
  border: 2px #ff7300 solid;
  border-radius: 10px; }
  .formulario p {
    font-weight: bold; }
  .formulario input {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 17px; }
    .formulario input:hover {
      border: 2px #ff7300 solid; }
  .formulario .genero {
    display: flex;
    justify-content: start; }
  .formulario .boton {
    background: #dddddd; }
    .formulario .boton:hover {
      cursor: pointer;
      background: #ff7300;
      color: whitesmoke; }
  .formulario textarea:hover {
    border: 2px #ff7300 solid; }

@media only screen and (max-width: 768px) {
  .contenedorGridIndex {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "main" "aside1" "aside2" "footer"; }
  .main .noticias {
    display: flex;
    flex-direction: column; }
    .main .noticias .imgNoticias {
      width: 100%; }
    .main .noticias .textos {
      margin: 0px;
      padding: 0px; }
      .main .noticias .textos p {
        padding-top: 10px; }
  .footer {
    display: flex;
    flex-direction: column; }
    .footer .logoFooter {
      margin: 0 auto;
      padding: 0; }
    .footer .contenedorRedes {
      width: 100%;
      margin: 0 auto;
      padding: 0; }
    .footer .contenedorIconos {
      padding-top: 0px; }
    .footer .contenedorNewsletter {
      margin-top: 15px; }
    .footer .newsletter {
      padding-top: 0px; }
  /*****Estilos Sección Noticias******/
  .contenedorGridNoticias {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "mainNoticias" "aside1" "aside2" "footer"; }
  .mainNoticias {
    overflow: auto; }
    .mainNoticias .cuerpoNoticias {
      width: 100%; } }

@media only screen and (max-width: 375px) {
  .header {
    width: 100%;
    height: 70%;
    margin-bottom: 10px;
    background-position: bottom; }
    .header .logo .img-fluid {
      width: 70%;
      height: 70%; }
    .header .textologo {
      margin-top: 0px;
      text-align: center;
      font-size: 1.5rem; }
    .header .separador {
      font-size: 1.5rem; }
  .contenedorGridIndex {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .main {
    width: auto; }
    .main .noticias {
      display: flex;
      flex-direction: column; }
      .main .noticias .imgNoticias {
        width: 100%; }
      .main .noticias .textos {
        margin: 0px;
        padding: 0px; }
        .main .noticias .textos p {
          padding-top: 10px; }
  .footer .contenedorRedes p {
    font-size: 1.5rem; }
  .footer .contenedorNewsletter {
    font-size: 1.5rem; }
    .footer .contenedorNewsletter .botonSuscribir {
      margin-top: 5px; }
  /*****Estilos Sección Noticias******/
  .contenedorGridNoticias {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .mainNoticias {
    padding: 0px;
    display: flex;
    flex-direction: column; }
    .mainNoticias .cuerpoNoticias {
      padding: 5px; }
    .mainNoticias .notaTitulo {
      font-size: 35px; }
    .mainNoticias .notaSubtitulo {
      padding: 5px;
      font-size: 20px; }
    .mainNoticias .textoNoticia {
      margin: 10px 0; }
    .mainNoticias .videoNota {
      padding: 5px 0px; }
  /*Estilos Contactos*/
  .formulario {
    overflow: auto;
    width: 100%; } }
