/*Variables redes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #dadada;
  font-family: "open sans"; }

header {
  width: 100%;
  height: 560px;
  margin-bottom: 60px;
  background-image: url(../imagenes/herobanner.jpg);
  background-position: center;
  background-attachment: fixed; }
  header .navbar {
    width: 100%;
    background-color: rgba(116, 116, 116, 0.445);
    position: fixed;
    box-shadow: 0 0 5px whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .navbar .navbar-nav {
      padding: 10px;
      font-size: 18px;
      color: antiquewhite; }
      header .navbar .navbar-nav .nav-link {
        color: whitesmoke;
        text-transform: uppercase; }
        header .navbar .navbar-nav .nav-link:hover {
          font-weight: bold;
          background-color: #ff7300;
          color: whitesmoke;
          box-shadow: 0 0 5px #ff7300; }
  header .logo {
    display: flex;
    justify-content: center; }
    header .logo .img-fluid {
      width: 480px;
      height: 480px;
      margin-top: 58px; }
  header .textologo {
    margin-top: -40px;
    display: flex;
    justify-content: center;
    font-family: "Lobster", cursive;
    color: #cfcfcf;
    font-size: 2rem; }
  header .separador {
    font-size: 2.5rem;
    font-family: "Lobster", cursive;
    text-align: center;
    background-color: #ff7300; }

main {
  padding: 10px;
  margin: 0 auto;
  grid-area: main; }
  main .noticias {
    margin-bottom: 10px;
    padding: 10px;
    background-color: whitesmoke;
    border: 2px #ff7300 solid;
    border-radius: 10px;
    display: flex;
    flex-direction: wrap; }
    main .noticias:hover {
      background-color: #fd933c;
      border: 2px #ff7300 solid;
      border-radius: 10px;
      color: black; }
    main .noticias .imgNoticias {
      width: 450px;
      height: 300px;
      border-radius: 10px; }
    main .noticias .textos {
      margin: 15px;
      padding: 10px; }
      main .noticias .textos h2 {
        text-align: center;
        font-weight: bold; }

.aside, .aside1, .aside2 {
  width: 100%;
  padding: 10px;
  margin: 0 auto; }
  .aside .cuerpoAside, .aside1 .cuerpoAside, .aside2 .cuerpoAside {
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
    border: 2px #ff7300 solid;
    border-radius: 10px; }
  .aside h2, .aside1 h2, .aside2 h2 {
    margin-bottom: 5px;
    font-family: "Lobster", cursive;
    font-size: 1.5rem;
    text-align: center;
    background-color: #ff7300;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

.aside1 {
  grid-area: aside1; }
  .aside1 .noticiaRanking {
    display: flex;
    text-align: left;
    align-items: center;
    overflow: auto; }
    .aside1 .noticiaRanking .numeroRanking {
      width: 45px;
      height: 45px;
      margin-bottom: 5px;
      border-radius: 10px; }
    .aside1 .noticiaRanking .textoRanking {
      padding-left: 7px;
      font-size: 1rem; }
    .aside1 .noticiaRanking:hover {
      font-weight: bold;
      background-color: #fd933c;
      border: 2px #ff7300 solid;
      border-radius: 10px;
      color: black; }

.aside2 {
  grid-area: aside2; }
  .aside2 .lanzamientos {
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
    border: 2px #ff7300 solid;
    border-radius: 10px; }
    .aside2 .lanzamientos .reproductor {
      display: flex;
      justify-content: center;
      margin-top: 15px; }

.footer {
  background-color: #ff7300;
  padding-top: 30px;
  font-family: "Lobster", cursive;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  grid-area: footer; }
  .footer .logoFooter {
    width: 150px;
    height: 150px; }
  .footer .contenedorRedes {
    width: 20%; }
  .footer .contenedorIconos {
    padding-top: 15px;
    display: flex;
    justify-content: space-around; }
  .footer .bi-facebook:hover {
    color: #4267b2; }
  .footer .bi-instagram:hover {
    color: #833ab4; }
  .footer .bi-whatsapp:hover {
    color: #25d366; }
  .footer .bi-youtube:hover {
    color: #ff0000; }
  .footer .bi-envelope:hover {
    color: #db4437; }
  .footer .newsletter {
    margin-right: 10px;
    padding-top: 15px;
    font-size: 1.2rem; }

.contenedorGridIndex {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "main main aside1" "main main aside2" "footer footer footer"; }
