main {
  padding: 10px;
  margin: 0 auto;
  grid-area: main;
  .noticias {
    margin-bottom: 10px;
    padding: 10px;
    background-color: whitesmoke;
    border: 2px $principal solid;
    border-radius: 10px;
    display: flex;
    flex-direction: wrap;
    &:hover {
      font-weight: bold;
      background-color: $principal-hover;
      border: 4px $principal solid;
      border-radius: 10px;
      color: rgb(0, 0, 0);
    }
    .imgNoticias {
      width: 450px;
      height: 300px;
      border-radius: 10px;
    }
    .textos {
      margin: 15px;
      padding: 10px;
      h2 {
        text-align: center;
        font-weight: bold;
      }
      p{
        padding-top: 30px;
        text-align: center;
      }
    }
  }
}

