@import "variables";
@import "header";
@import "main";
@import "aside";
@import "footer";

/*****Estilos Index******/
.contenedorGridIndex {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "main main aside1"
    "main main aside2"
    "footer footer footer";
}
/*****Estilos Sección Noticias******/
.contenedorGridNoticias {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "mainNoticias mainNoticias aside1"
    "mainNoticias mainNoticias aside2"
    "footer footer footer";
}
.mainNoticias {
  margin: 10px;
  padding: 10px;
  background-color: whitesmoke;
  border: 2px $principal solid;
  border-radius: 10px;
  display: flex;
  grid-area: mainNoticias;
  .cuerpoNoticias {
    padding: 20px;
  }
  .notaTitulo {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
  }
  .notaSubtitulo {
    padding: 15px;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .textoNoticia {
    margin: 15px;
  }
  .videoNota {
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*****Estilos Sección Shows y Eventos******/
.card {
  margin: 10px;
  .card-title {
    text-align: center;
    font-weight: bold;
  }
  .list-group-item {
    display: flex;
    justify-content: space-between;
    position: inherit;
  }
  .card-body-shows {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    padding: 1rem 1rem;
  }
  &:hover {
    color: whitesmoke;
    border: 2px $principal solid;
    background-color: $principal-hover;
    box-shadow: 0 5px 5px $principal;
  }
}
/*****Estilos Sección Discos******/
.artista {
  width: 100%;
  background-color: $principal;
  margin-bottom: 15px;
  text-align: center;
}
.row {
  --bs-gutter-x: 0;
  .card {
    position: inherit;
    .btn-comprar {
      color: #fff;
      background-color: $principal;
      border-color: whitesmoke;
    }
    .btn-comprar:hover {
      font-weight: bold;
      color: black;
      background-color: whitesmoke;
    }
  }
}
/******ESTILOS SECCION CONTACTO*******/
.formulario {
  width: 400px;
  margin: 15px auto;
  padding: 20px;
  background-color: white;
  border: 2px $principal solid;
  border-radius: 10px;
  p {
    font-weight: bold;
  }
  input {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 17px;
    &:hover {
      border: 2px $principal solid;
    }
  }
  .genero {
    display: flex;
    justify-content: start;
  }
  .boton {
    background: rgb(221, 221, 221);
    &:hover {
      cursor: pointer;
      background: $principal;
      color: whitesmoke;
    }
  }
  textarea {
    &:hover {
      border: 2px $principal solid;
    }
  }
}
@media only screen and (max-width: 768px) {
  .contenedorGridIndex {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "main"
      "aside1"
      "aside2"
      "footer";
  }
  .main {
    .noticias {
      display: flex;
      flex-direction: column;
      .imgNoticias {
        width: 100%;
      }
      .textos {
        margin: 0px;
        padding: 0px;
        p {
          padding-top: 10px;
        }
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    .logoFooter {
      margin: 0 auto;
      padding: 0;
    }
    .contenedorRedes {
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
    .contenedorIconos {
      padding-top: 0px;
    }
    .contenedorNewsletter {
      margin-top: 15px;
    }
    .newsletter {
      padding-top: 0px;
    }
  }

  /*****Estilos Sección Noticias******/
  .contenedorGridNoticias {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "mainNoticias"
      "aside1"
      "aside2"
      "footer";
  }
  .mainNoticias {
    overflow: auto;
    .cuerpoNoticias {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 375px) {
  .header {
    width: 100%;
    height: 70%;
    margin-bottom: 10px;
    background-position: bottom;
    .logo {
      .img-fluid {
        width: 70%;
        height: 70%;
      }
    }
    .textologo {
      margin-top: 0px;
      text-align: center;
      font-size: 1.5rem;
    }
    .separador {
      font-size: 1.5rem;
    }
  }
  .contenedorGridIndex {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .main {
    width: auto;
    .noticias {
      display: flex;
      flex-direction: column;
      .imgNoticias {
        width: 100%;
      }
      .textos {
        margin: 0px;
        padding: 0px;
        p {
          padding-top: 10px;
        }
      }
    }
  }
  .footer {
    .contenedorRedes {
      p {
        font-size: 1.5rem;
      }
    }
    .contenedorNewsletter {
      font-size: 1.5rem;
      .botonSuscribir {
        margin-top: 5px;
      }
    }
  }
  /*****Estilos Sección Noticias******/
  .contenedorGridNoticias {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .mainNoticias {
    padding: 0px;
    display: flex;
    flex-direction: column;
    .cuerpoNoticias {
      padding: 5px;
    }
    .notaTitulo {
      font-size: 35px;
    }
    .notaSubtitulo {
      padding: 5px;
      font-size: 20px;
    }
    .textoNoticia {
      margin: 10px 0;
    }
    .videoNota {
      padding: 5px 0px;
    }
  }
  /*Estilos Contactos*/
  .formulario {
    overflow: auto;
    width: 100%;
  }
}
