@import "variables";
@import "header";
@import "main";
@import "aside";
@import "footer";

.contenedorGridIndex{
    width: 100%;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "main main aside1"
    "main main aside2"
    "footer footer footer";
}

